name: Leonia+ Notizie

on:
  schedule:
    - cron: '0 * * * *'  # Esegui ogni ora
  workflow_dispatch:     # Permette avvio manuale dal pannello GitHub

jobs:
  run-bot:
    runs-on: ubuntu-latest

    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      CHAT_ID: ${{ secrets.CHAT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install feedparser requests newspaper3k nltk
          pip install lxml[html_clean]  # Fix per newspaper3k

      - name: Run the bot
        run: python bot.py
